# {
  /*global styles*/
  
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*div {
  border: 1px solid black;
}*/

/*  border: 1px solid black;
}*/

body {
  color: black;
  font-size: 1em;
  background-color: white;
}

.topheader {
  width: 100%;
  border: 1px solid black;
  height: 4em;
}

.container {
  width: 60.444em;
  margin: 0 auto;
}

.jaredhensley {
  margin-top: 1em;
  float: left;
}

.menubar {
  float: right;
  display: inline-block;
}

.menubar ul {
  list-style: none;
}

.menubar ul li {
  display: inline-block;
}

.mastheader {
  height: 20em;
  background-color: #151515;
}

.project-section {
  height: 60em;
  margin: 0 auto;
  background-color: tomato;
}

footer {
  
  background-color: blue;
}
/*parent background for container subsection*/

footer p {
	margin:0;
}
.masthead-parent {
	background-color: #151515;
	color: white;
}

.project-parent {
	background:white;

}

.social {
	background-color: #7F524A;
	height: 15em;

}

 .mast-text {
 	margin: 0 auto;
	padding-top:3em;
	margin-top:0em;
	text-align:center;
}

