* {
  /*global styles*/
  
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  /*border: 1px solid red;*/
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*div {
  border: 1px solid black;
}*/
/*  border: 1px solid black;
}*/

body {
  color: black;
  font-size: 1em;
  background-color: white;
  font-family: 'Roboto', 'Proxima Nova ThinT', Arial, sans-serif;
}

.topheader {
  width: 100%;
  background-color: tomato;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  position: fixed;
  z-index: 10;
}

.container {
  width: 60.444em;
  margin: 0 auto;
  /*border: 1px solid green;*/
}

.home {
  margin-top: 1em;
  margin-left: 1em;
  float: left;
}

.menubar {
  float: right;
  display: inline-block;
  padding-bottom: 1.5em;
  z-index: 3;
}

.menubar ul {
  padding-top: 1em;
  list-style: none;
}

.menubar ul li {
  display: inline-block;
  margin-right: 1em;
}

.mastheader {
  background-color: tomato;
}

.masthead-parent {
  background-color: tomato;
  color: white;
}

.project-parent {
  background: white;
  margin: 0;
}

.mast-text {
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 3em;
  text-align: center;
  font-size: 2em;
}

.mast-text h1,
h2 {
  font-weight: 600;
  margin-bottom: 1em;
}

.project-section {
  background-color: white;
  margin-top: 2em;
}

.project-section img {
  border-radius:5px;
  background-color: #eee;
  padding: 10px;
  box-shadow: 1px 1px 1px #ccc;
  height: 15.625em;
  opacity: .8;
  box-border: none;
  box-sizing: content-box;
  /*overrides global box-sizing, back to default*/
}

.image-wrapper {
  width: 50%;
  float: left;
}

.project h2 {
  clear: both;
  padding-top: 4em;
  padding-bottom: 1em;
  font-weight: 400;
  font-size: 2rem;
}

.project-one-text {}

.project-text {
  width: 50%;
  float: right;
  line-height: 2em;
  letter-spacing: 1px;
}

footer {
  clear: both;
  background-color: tomato;
}
/*parent background for container subsection*/

footer p {
  margin: 0;
}

.social {
  background-color: ;
  text-align: center;
  padding-bottom: 1em;
}

.spacer {
  height: 10em;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style: none;
  padding: 1em;
  margin-top: 1em;
  color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

.social p {
  color: white;
}