* {
  /*global styles*/
  
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  /*border: 1px solid red;*/
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*div {
  border: 1px solid black;
}*/
/*  border: 1px solid black;
}*/

body {
  color: black;
  font-size: 1em;
  background-color: white;
  font-family: 'Roboto', 'Proxima Nova ThinT', Arial, sans-serif;
}

.topheader {
  width: 100%;
  background-color: #E74C3C;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  position: fixed;
  z-index: 10;
}

.container {
  width: 960px;
  margin: 0 auto;
  /*border: 1px solid green;*/
}

.home {
  margin-top: 1em;
  margin-left: 1em;
  float: left;
}

.menubar {
  float: right;
  display: inline-block;
  padding-bottom: 1.5em;
  z-index: 3;
}

.menubar ul {
  padding-top: 1em;
  list-style: none;
}

.menubar ul li {
  display: inline-block;
  padding-right: .5em;
  padding-left: .5em;
  border-right: .135em solid white;
}

.menubar ul li:nth-child(3) {
  border-right: none;
}

.mastheader {
  background-color: #7F4D47;
}

.masthead-parent {
  background-color: #7F4D47;
  color: white;
}

.project-parent {
  background: white;
  margin: 0;
}

.mast-text {
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 3em;
  text-align: center;
  font-size: 2em;
}

.mast-text h1,
h2 {
  font-weight: 600;
  margin-bottom: 1em;
}

.project-section {
  background-color: white;
  margin-top: 2em;
}

.project-section img {
  border-radius: .3125em;
  background-color: #eee;
  padding: .625em;
  box-shadow: 1px 1px 1px #ccc;
  height: 15.625em;
  opacity: .8;
  box-border: none;
  box-sizing: content-box;
  /*overrides global box-sizing, back to default*/
}

.image-wrapper {
  width: 50%;
  float: left;
}

.project h2 {
  clear: both;
  padding-top: 4em;
  padding-bottom: 1em;
  font-weight: 400;
  font-size: 1.5rem;
  border-top:
}

.project-one-text {}

.project-text {
  width: 50%;
  float: right;
  line-height: 2em;
  letter-spacing: 1px;
}

footer {
  clear: both;
  background-color: #E74C3C;
}
/*parent background for container subsection*/

footer p {
  margin: 0;
}

.social {
  text-align: center;
  padding-bottom: 1em;
}

.spacer {
  height: 10em;
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

footer ul {
  text-align: center;
}

.social ul li {
  display: inline-block;
  list-style: none;
  padding: 1em;
  margin-top: 1em;
  color: white;
}

.transition {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

.social ul li:hover {
  box-shadow: 0px 0px 15px 0px black;
}

.left {
  float: left;
}

.right {
  float: right;
}

.social p {
  color: white;
}

.p1h1 {
  padding-left: 3em;
}

.p2h1 {
  padding-left: 3em;
}

.p3h1 {
  padding-left: 2.4em;
}

/* media queries */
/*
@media (min-width: 1600px) and (max-width: 1760px) {
  .container {
    width:60%;
  }

}


@media (min-width: 1610px) and (max-width: 1760px) {
  .container {
    width:60%;
  }

}

@media (min-width: 1455px) and (max-width: 1609px) {
  .container {
    width:65%;
  }

}

@media (min-width: 1340px) and (max-width: 1454px) {
  .container {
    width:75%;
  }
}


@media (min-width: 1200px) and (max-width: 1339px) {
  .container {
    width:80%;
  }
}


@media (min-width: 1130px) and (max-width: 1199px) {
  .container {
    width:80%;
  }
}

@media (min-width: 950px) and (max-width: 1129px) {
  .container {
    width:95%;
  }
}

*/
@media (min-width: 733px) and (max-width: 949px) {
  .container {
    width:100%;
  }

  .project-section h2 {
    text-align: center;
    float: none;
    padding-left:0;
    padding-top:2em;

  }
  .image-wrapper {
    display: block;
    float: none;
    width:100%;
    margin: 0 auto;
    text-align: center;

  }

  .image {
    padding-left:0;
    margin-left:0;
  }

  .project-text {
    display: block;
    float: none;
    margin: 2em auto 0;
    padding-left:.7em;
    
  }

  .spacer {
    height:5em;

  }
}

@media (min-width: 600px) and (max-width: 732px) {
  .home {
    display: none;
  }

  .menubar  {
    margin: 0 auto;
    float: none;
    padding-left:3em;

  }
  .mast-text {
    font-size: 1.4em;
  }
}


 